.dashboardContainer {
  background-color: white;
  border-radius: $radius-lg;
  padding: $spacing-lg;
  border: 1px solid $color-neutral-7;
  height: calc(94vh - $spacing-lg);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}
.dashboardContainerInner {
  height: 100%;
  display: flex;
  gap: $spacing-lg;
}
.leftSection {
  width: 50%;
  height: 100%;
  display: flex;
  gap: $spacing-lg;
}
