.chartCard {
  border: 1px solid $color-blue;
  border-radius: $radius-lg;
  padding: $spacing-md;
  width: fit-content;

  :global {
    .recharts-legend-item {
      margin: 4px auto !important;
      padding: 4px 8px !important;
      border-radius: $radius-sm !important;
      font-size: $font-size-sm !important;
      font-weight: $font-weight-bold !important;
    }

    .recharts-legend-item-symbol {
      margin-right: 4px !important;
    }
  }
}

.chartTitle {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  margin-bottom: $spacing-sm;
}
