.teacherHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  padding-left: calc(260px + $spacing-lg);
  padding-right: $spacing-lg;

  @include respond-to(lg) {
    padding-left: calc(110px + $spacing-lg);
  }
  background-color: $color-white;
  border-bottom: 1px solid $color-neutral-7;

  .classSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    @include respond-to(lg) {
      width: 250px;
    }
    cursor: pointer;
    padding: 5px $spacing-sm;
    border: 1px solid $color-neutral-6;
    border-radius: $radius-full;
    background-color: $color-white;
    color: $color-neutral-5;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $color-neutral-7;
    }

    &.selected {
      background-color: $color-skyblue;
      color: $color-blue;
      border-color: $color-blue;
    }
  }
  .classListDropdown {
    position: absolute;
    top: 6vh; /* 프로필 이미지 아래에 위치하도록 */
    left: calc(260px + $spacing-lg);
    @include respond-to(lg) {
      left: calc(110px + $spacing-lg);
    }

    width: 350px;
    @include respond-to(lg) {
      width: 250px;
    }
    background-color: $color-white;
    border: 1px solid $color-neutral-7;
    border-radius: $radius-md;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-height: 200px; /* 드롭다운 최대 높이 */
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .classListItem {
      padding: $spacing-sm;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%; /* 100% 너비를 가져가도록 설정 */
      white-space: nowrap; /* 한 줄로 표시 */
      overflow: hidden; /* 넘치는 부분 숨기기 */
      text-overflow: ellipsis; /* 넘치는 텍스트를 '...'로 표시 */
      &:hover {
        background-color: $color-neutral-7;
      }
    }
  }

  .notificationAndProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-xl;

    .icon {
      color: $color-blue;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(0.98);
      }
    }

    .profile {
      display: flex;
      align-items: center;
    }

    .profileImage {
      width: 40px;
      height: 40px;
      border: 1px solid $color-mutedblue;
      border-radius: $radius-full;
      object-fit: cover;
    }

    .profile {
      cursor: pointer;
    }

    .profileInfo {
      display: flex;
      flex-direction: column;
      margin: 0px 20px;
    }

    .name {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      color: $color-black;
      width: 100%;
      text-align: right;
    }

    .university {
      font-size: $font-size-sm;
      color: $color-mutedblue;
    }

    .dropdown {
      position: absolute;
      top: 6vh; /* 프로필 이미지 아래에 위치하도록 */
      right: 10px;
      background-color: $color-white;
      border: 1px solid $color-neutral-7;
      border-radius: $radius-md;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .dropdownItem {
        padding: $spacing-sm $spacing-md;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        gap: $spacing-sm;
        align-items: center;
        color: $color-neutral-4;
        &:hover {
          background-color: $color-neutral-7;
        }
      }
    }
  }
}
