.fileDisplayContainer {
  gap: 10px;
  width: 100%;
  .fileIconContainer {
    background-color: $color-neutral-8;
    border: 0.5px solid $color-neutral-7;
    border-radius: $radius-md;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
  .fileName {
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $color-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
