.chartCard {
  border: 1px solid $color-blue;
  border-radius: $radius-lg;
  padding: $spacing-md;
  width: fit-content;

  :global {
    .recharts-legend-item {
      margin: 4px auto !important;
      padding: 4px 8px !important;
      border-radius: $radius-sm !important;
      font-size: $font-size-sm !important;
      font-weight: $font-weight-bold !important;
    }

    .recharts-legend-item-symbol {
      margin-right: 4px !important;
    }
  }
}

.chartTitle {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  margin-bottom: $spacing-sm;
}

.top3List {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top3Item {
  display: flex;
  justify-content: space-between;
  background: #f7f9fb;
  border-radius: $radius-lg;
  padding: $spacing-xs $spacing-sm;
  margin-top: $spacing-xs;
  font-weight: $font-weight-medium;
}
