.wrapper {
  width: 100%;
}

.label {
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-neutral-3;
  margin-bottom: $spacing-xxs;

  @include respond-up(sm) {
    font-size: $font-size-md;
  }
}

.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid $color-neutral-6;
  background-color: $color-white;
  @include common-input-button-style;

  &:focus-within {
    border: 2px solid $color-blue;

    .iconLeft,
    .iconRight {
      color: $color-blue;
    }
  }

  &.error {
    border: 1px solid $color-danger;

    &:focus-within {
      border: 2px solid $color-danger;
      .iconLeft,
      .iconRight {
        color: $color-danger;
      }
    }
  }
}

.input {
  flex: 1;
  border: none;
  outline: none;
  color: $color-neutral-2;
  background-color: transparent;
  @include common-input-button-style;

  &::placeholder {
    color: $color-neutral-6;
  }

  &:disabled {
    background-color: $color-neutral-7;
    cursor: not-allowed;
  }
}

.iconLeft,
.iconRight {
  margin: 0 $spacing-xs;
  display: flex;
  align-items: center;
  color: $color-neutral-6; // 기본 회색
  transition: color $transition-fast;

  // 버튼 리셋
  background: none;
  border: none;
  cursor: pointer;
}

// focus 상태일 때만 파란색
.inputBox:focus-within {
  .iconLeft,
  .iconRight {
    color: $color-blue;
  }
}

.error {
  border-color: $color-danger;
}

.errorMessage {
  color: $color-danger;
  font-size: $font-size-xs;
  margin-top: $spacing-xxs;

  @include respond-up(sm) {
    font-size: $font-size-sm;
  }
}

.disabled {
  background-color: $color-neutral-7;
}
