.container {
  padding: $spacing-xl;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  h1 {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-3xl;
  }

  // NoDataView가 있을 때는 중앙 정렬
  :global(.noDataView) {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.lectureListContainer {
  display: flex;
  gap: $spacing-lg;
  height: fit-content;
}

.ended {
  background: #fafbfc;
}
.inProgress {
  background: #f5f8fb;
}
.before {
  background: #eaf4ff;
}
