@use "./_variables" as *;

// 모바일부터 적용 (특정 크기 이하에서 적용되는 것)
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: #{$breakpoint-xs}) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: #{$breakpoint-sm}) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: #{$breakpoint-md}) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: #{$breakpoint-lg}) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: #{$breakpoint-xl}) {
      @content;
    }
  }
}

// 데스크탑부터 적용 (특정 크기 이상에서 적용되는 것)
@mixin respond-up($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: #{$breakpoint-sm}) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: #{$breakpoint-xl}) {
      @content;
    }
  }
}

// input, button 공통 스타일
@mixin common-input-button-style {
  min-height: 48px;
  border-radius: $radius-md;
  padding: $spacing-xxs $spacing-xs;
  transition: $transition-fast;
  font-family: $font-default;
  font-size: $font-size-sm;

  @include respond-up(sm) {
    font-size: $font-size-md;
  }
}
