@import "@/styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-md $spacing-md $spacing-md;
  border-bottom: 1px solid $color-neutral-7;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
}

.info {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  margin-top: $spacing-xs;
  color: $color-mutedblue;
  font-size: $font-size-md;
}

.date,
.time {
  display: flex;
  align-items: center;
  gap: $spacing-xs;

  svg {
    width: 16px;
    height: 16px;
  }
}

.tag {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  padding: $spacing-xs $spacing-sm;
  border-radius: $radius-full;
}

// 강의 전 상태
.tagBeforeLecture {
  color: $color-blue;
  background-color: $color-skyblue;
}

// 강의 중 상태
.tagOnLecture {
  color: $color-white;
  background-color: $color-blue;
}

// 강의 종료 상태 (makeQuiz, checkDashboard)
.tagAfterLecture {
  color: $color-white;
  background-color: $color-neutral-6;
}

.beforeLectureText {
  color: $color-blue;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
}

.afterLectureText {
  color: $color-neutral-6;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
}
